<button ng-click="vm.removeItem(item)">x</button>
<ul>
    <li>
        <span editable-text="child.name">{{child.name}}</span>
        <em ng-show="child.faction!=undefined">
            -
            <span editable-text="child.faction">{{child.faction}}</span>
        </em>
    </li>
    <li>
        <span editable-number="child.points">{{child.points || 0}}</span> Points
    </li>
    <li>
        {{child.name}} is currently {{child.current}} as of <span editable-combodate="child.currentDate" data-format="yyyy-mm-ddThh:iiZ" data-viewformat="mm/dd/yyyy hh:ii">{{child.currentDate | date : 'short' : '-0500' }}</span>
    <a ng-click="detailedStates = !detailedStates">Show Detailed</a>
    <ul ng-show="detailedStates" id="detailedStates">
        <li ng-repeat="state in child.states">
            {{state.name}} as of <span editable-combodate="state.date" data-format="yyyy-mm-ddThh:iiZ" data-viewformat="mm/dd/yyyy hh:ii">{{state.date | date : 'short' : '-0500' }}</span>
        </li>
    </ul>
</li>
    <li>
        Recede Tide:
        <ul>
            <li ng-repeat="state in child.allStates|filter:{active:false}">
                <button ng-click="vm.setActive(child, state)">{{state.name}}</button>
            </li>
        </ul>

    </li>
    {{ item = child; '' }}
    <li ng-if="item.items != undefined" ng-include="'app/tide/items.html'"></li>
</ul>
