<section id="tide-view" class="mainbar" data-ng-controller="tide as vm">
    <button ng-click="RefreshFromStore()" ng-disabled="Tide.loading">Restore from default</button>
    <br />
    <label>Search: <input ng-model="query1" /></label>
    <label>Search 2: <input ng-model="query2" /></label>
    <label>State: <input ng-model="query3" /></label>
    <label>To Complete: <input type="checkbox" ng-model="query5" checked="checked"></label>
    <label>
        Order By:
        <select ng-model="orderProp">
            <option value="[faction,name]">Faction, Name</option>
            <option value="points">Points</option>
            <option value="-points">Points Descending</option>
        </select>
    </label>
    <!--filter: filterModelOnState(query4.name, !query5)-->
    {{ item = Tide ; '' }}
    <div ng-include="'partials/items.html'"></div>
</section>