<section id="tide-view" class="mainbar" data-ng-controller="tide as vm">
    <button ng-click="RefreshFromStore()" ng-disabled="Tide.loading">Restore from default</button>
    <br />
    <label>Search: <input ng-model="query1" /></label>
    <label>Search 2: <input ng-model="query2" /></label>
    
    <label>State: <select ng-options="item as item for item in query3data" ng-model="query3"><option value="">-- choose state --</option></select></label>
    <label>Completed? <input type="checkbox" ng-model="query5"></label>
    <label>
        Order By:
        <select ng-model="orderProp">
            <option value="[faction,name]" selected="selected">Faction, Name</option>
            <option value="points">Points</option>
            <option value="-points">Points Descending</option>
        </select>
    </label>
    {{ item = {items:vm.tide} ; '' }}
    <div ng-include="'app/tide/items.html'"></div>
</section>