<section id="state-view" class="mainbar" data-ng-controller="state as vm">
    <div ng-repeat="stateMachine in vm.states">
        <p editable-text="stateMachine.name">{{stateMachine.name}}</p>
        <ul>
            <li ng-repeat="state in stateMachine.events">
                <button ng-click="vm.remove(stateMachine, state)">-</button>
                <label>Name: <span  editable-text="state.name">{{state.name}}</span></label>
                <ul>
                    <li>
                        <ul>
                            <li ng-repeat="f in state.from">
                                <label>From: <span editable-text="f">{{f}}</span></label>
                            </li>
                        </ul>
                    </li>
                    <li><label>To: <span editable-text="state.to">{{state.to}}</span></label>    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>