<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings file="..\..\GreyTide.config">
    <add key="ConnectionKey" value=""></add>
    <add key="ConnectionUri" value=""></add>
    <add key="UserToken" value="{F00F47F7-5A52-4FBA-9218-3718534BC7CE}"></add>
    <add key="DatabaseId" value="greytide"></add>
  </appSettings>
  <system.webServer>
    <handlers>
      <remove name="httpplatformhandler" />
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform stdoutLogEnabled="true" stdoutLogFile=".\suave.log" startupTimeLimit="20" processPath="%HOME%\site\wwwroot\GreyTideSuave.exe" arguments="%HTTP_PLATFORM_PORT%"/>
  </system.webServer>
</configuration>