<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="scripts/jqPlot/excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="scripts/jqPlot/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="scripts/jqPlot/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css" href="scripts/jqPlot/jquery.jqplot.css" />
<script type="text/javascript" src="scripts/jqPlot/plugins/jqplot.barRenderer.min.js"></script>
<script type="text/javascript" src="scripts/jqPlot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="scripts/jqPlot/plugins/jqplot.pointLabels.min.js"></script>
<script type="text/javascript" src="scripts/jqPlot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<div id="chartbar" chartbar style="height:800px; ">

</div>

<div id="chartline" chartline style="height:800px; ">

</div>