<button ng-click="RemoveItem(item,child)">x</button>
<ul>
    <li>
        <a href="#" editable-text="child.name" onaftersave="Tide.SaveState()">{{child.name}}</a>
        <em ng-show="child.faction!=undefined">
            -
            <a href="#" editable-text="child.faction" onaftersave="Tide.SaveState()">{{child.faction}}</a>
        </em>
    </li>
    <li>
        <a href="#" editable-number="child.points" onaftersave="Tide.SaveState()">{{child.points || 0}}</a> Points
    </li>
    <li>
        {{child.name}} is currently {{child.current}} as of {{Tide.LastState(child)}}
    </li>
    <li>
        Recede tide:
        <div multi-select
             input-model="child.States"
             button-label="name"
             item-label="name"
             max-labels="0"
             disable-property="active"
             helper-elements=""
             tick-property="active"
             on-item-click="setActive(child, data)"
             on-close="Tide.SaveState()">

        </div>
    </li>
    {{ item = child; '' }}
    <li ng-include="'partials/items.html'"></li>
</ul>
