<button ng-click="RefreshFromStore()">Restore from default</button>

<div ng-repeat="stateMachine in states.model">
    <p>{{stateMachine.name}}</p>
    <ul>
        <li ng-repeat="state in stateMachine.events">
            <button ng-click="Remove(stateMachine,state)">-</button>
            <label>Name: <span>{{state.name}}</span></label>
            <ul>
                <li><label>From: <span>{{state.from}}</span></label></li>
                <li><label>To: <span>{{state.to}}</span></label>    </li>
            </ul>
        </li>
        <li>
            <button ng-click="insertvisible = true" ng-show="!insertvisible">+</button>
            <span ng-show="insertvisible">
                <label>Name<input ng-model="newName" /></label>
                <label>From<input ng-model="newFrom" /></label>
                <label>To<input ng-model="newTo" /></label>
                <button ng-click="insertvisible = false; Insert(stateMachine,newName,newFrom,newTo)">Insert</button>
            </span>
        </li>
    </ul>
</div>