<button ng-click="RefreshFromStore()" ng-disabled="Tide.loading">Restore from default</button>
<br />
<label>Search: <input ng-model="query" /></label>
<label>Search 2: <input ng-model="query2" /></label>
<label>State: <input ng-model="query3" /></label>
<label>To Complete: <input type="checkbox" ng-model="query5" checked="checked"></label>
<label>
    Order By:
    <select ng-model="orderProp">
        <option value="[faction,name]">Faction, Name</option>
        <option value="points">Points</option>
        <option value="-points">Points Descending</option>
    </select>
</label>
<div ng-show="insertvisible">
    <label>Name<input ng-model="newName" /></label>
    <label>Faction<input ng-model="newFaction" /></label>
    <label>Points<input ng-model="newPoints" /></label>
    <button ng-click="Insert(newName, newFaction, newPoints)">Insert</button>
    <button ng-click="insertvisible = false;">Close</button>
</div>
<button ng-click="insertvisible = true;" ng-hide="insertvisible">+</button>
<!--filter: filterModelOnState(query4.name, !query5)-->
<ul>
    <li ng-repeat="model in Tide.model | filter:query">
        <button ng-click="Remove(model)">x</button>
        <ul>
            <li>{{model.name}} - <em>{{model.faction}}</em></li>
            <li>{{model.points}} Points</li>
            <li>Model is currently {{model.current}} as of {{Tide.LastState(model)}}</li>
            <li>
                Recede tide: <div multi-select
                                  input-model="model.States"
                                  button-label="name"
                                  item-label="name"
                                  max-labels="0"
                                  disable-property="active"
                                  helper-elements=""
                                  tick-property="active"
                                  on-item-click="setActive(model, data)"
                                  on-close="Tide.SaveState()">

                </div>
            </li>
            <li ng-show="model.Pieces.length==0"><button ng-click="AddPiece(model)">Split into Pieces</button></li>
            <li ng-show="model.Pieces.length>0">
                <ul>
                    <li ng-repeat="piece in model.Pieces">
                        <button ng-click="RemovePiece(model,piece)">x</button>
                        <ul>
                            <li>{{piece.name}}</li>
                            <li ng-show="piece.points!=0&&piece.points!=null&&piece.points!=undefined">{{piece.points}} Points</li>
                            <li>
                                Recede tide: <div multi-select
                                                  input-model="piece.States"
                                                  button-label="name"
                                                  item-label="name"
                                                  max-labels="0"
                                                  disable-property="active"
                                                  helper-elements=""
                                                  tick-property="active"
                                                  on-item-click="setActive(piece, data)"
                                                  on-close="Tide.SaveState()">

                                </div>
                            </li>
                            <li ng-show="piece.Pieces.length==0"><button ng-click="AddPiece(piece)">Split into Pieces</button></li>
                        </ul>
                    </li>
                    <li><button ng-click="AddPiece(model)">Add Piece</button></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>